/* Instalando fontes */

/* Fonte de peso normal */
@font-face {
    font-family: 'Rusillaserif';
    font-weight: normal;
    src: url('./fonts/Rusillaserif-Regular.ttf') format('truetype'),
}

/* Fonte de peso light */
@font-face {
    font-family: 'Rusillaserif';
    font-weight: 300;
    src: url('./fonts/Rusillaserif-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Courier New';
    font-weight: 300;
    src: url('./fonts/cour.ttf') format('truetype'),
}

body,
html {
    margin: 0;
    background: url('./images/background-page.png') repeat-y;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header-info {
    background-color: #A2D28E;
}

.header-info p {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Rusillaserif', sans-serif;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 150px 150px;
}

.first-section div img {
    width: 370px;
}

.first-section div:nth-child(1) {
    width: 45ch;
    line-height: 25px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Courier New', sans-serif;
}

.first-section .img-instrumentos {
    max-width: 600px;
    min-width: 300px;
    object-fit: contain;
    width: 30vw;
}

@media (max-width: 1370px) {
    .first-section {
        margin: 100px 150px;
        gap: 40px;
    }

    .first-section div:nth-child(1) {
        width: 49ch;
        font-size: 1em;
    }

    .first-section .img-instrumentos {
        width: 400px;
    }
}

@media (max-width: 1270px) {
    .first-section div:nth-child(1) {
        text-align: center;
    }
}

@media (max-width: 486px) {
    .header-info p {
        line-height: 20px;
    }
}


.second-section-title,
.artists-section-title,
.obras-section-title {
    font-family: 'Rusillaserif', sans-serif;
    letter-spacing: 25px;
    text-align: center;
    font-size: 2.5em;
    margin: 0 15px;
}

.a-exposicao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
    padding: 150px 150px;
    font-family: 'Courier New', sans-serif;
}

.a-exposicao div:nth-child(1) {
    display: flex;
    gap: 15px;
}

.a-exposicao div img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.a-exposicao div:nth-child(2) {
    max-width: 45ch;
    font-size: 1.5em;
    font-weight: bold;
}

.a-exposicao div:nth-child(2) a {
    width: 100%;
    padding: 10px 15px;
    background-color: #00A859;
    border: 0;
    font-family: 'Rusillaserif', sans-serif;
    color: white;
    font-size: 1em;
    letter-spacing: 5px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
}

.artists,
.obras {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 0 5dvw;
    gap: 30px;
}

.card-artist {
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding: 35px 35px;
    width: 25%;
    box-shadow: 0px 4px 4px 0px rgb(192, 190, 190);
    opacity: 0;
    transform: translateY(50px);
    animation: enterFade 0.8s ease-out forwards;
}

.card-artist p {
    font-family: 'Courier New', sans-serif;
}

.card-artist p:nth-child(2) {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.bi-arrow-left-short,
.bi-arrow-right-short {
    color: black;
    background-color: #FAF072;
    font-size: 3em;
    border-radius: 30px;
    cursor: pointer;
}

.artists-navigation button,
.works-navigation button {
    font-family: 'Courier New', sans-serif;
    padding: 20px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 15px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    background-color: #00A859;
    border: 0;
}

.artists-navigation button a,
.works-navigation button a{
    text-decoration: none;
}

.works-navigation button{
    margin-bottom: 100px;
}

.artists-navigation button a:visited,
.works-navigation button a:visited{
    color: white;
}

.old-works-info {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', sans-serif;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin: 100px 0;
}

.old-works-info p {
    text-align: center;
    max-width: 50ch;
}

.card-obra {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 35px 85px;
    width: 50%;
    height: 350px;
    box-shadow: 0px 4px 4px 0px rgb(192, 190, 190);

    /* Para animação */
    opacity: 0;
    transform: translateY(50px);
    animation: enterFade 0.8s ease-out forwards;
}

.card-obra div {
    text-align: center;
    font-weight: bold;
}

.card-obra .descricao-obra {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.3em;
}

@media (max-width: 1318px) {
    .a-exposicao {
        padding: 150px 10px;
    }

    .a-exposicao div:nth-child(2) {
        text-align: center;
    }

    .a-exposicao div:nth-child(2) a {
        padding: 10px 0px;
    }

    .second-section-title {
        font-size: 2em;
        letter-spacing: 15px;
    }
}

@media (max-width: 839px) {
    .a-exposicao div:nth-child(2) a {
        font-size: 3.5vw;
    }
}

@media (max-width: 1194px) {
    .artists, .obras {
        padding: 0 15px;
    }

    .card-artist {
        width: 80%;
    }

    .artists-navigation button,
    .works-navigation button {
        font-size: 1em;
    }

    .card-obra {
        flex-direction: column;
        height: initial;
        gap: 0;
        width: initial;
        padding: 5px 15px;
    }
}

@keyframes enterFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}