/* Instalando fontes */

/* Fonte de peso normal */
@font-face {
    font-family: 'Rusillaserif';
    font-weight: normal;
    src: url('./fonts/Rusillaserif-Regular.ttf') format('truetype'),
}

/* Fonte de peso light */
@font-face {
    font-family: 'Rusillaserif';
    font-weight: 300;
    src: url('./fonts/Rusillaserif-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Courier New';
    font-weight: 300;
    src: url('./fonts/cour.ttf') format('truetype'),
}

body,
html {
    margin: 0;
    background: url('./images/background-page.png') repeat-y;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-info {
    background-color: #A2D28E;
}

.header-info p {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Rusillaserif', sans-serif;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 150px 150px;
}

.first-section div img {
    width: 370px;
}

.first-section div:nth-child(1) {
    width: 45ch;
    line-height: 25px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Courier New', sans-serif;
}

.first-section .img-instrumentos {
    max-width: 600px;
    min-width: 300px;
    object-fit: contain;
    width: 30vw;
}

@media (max-width: 1370px) {
    .first-section {
        margin: 100px 150px;
        gap: 40px;
    }

    .first-section div:nth-child(1) {
        width: 49ch;
        font-size: 1em;
    }

    .first-section .img-instrumentos {
        width: 400px;
    }
}

@media (max-width: 1270px) {
    .first-section div:nth-child(1) {
        text-align: center;
    }
}

@media (max-width: 486px) {
    .header-info p {
        line-height: 20px;
    }
}


.second-section-title,
.obras-section-title {
    font-family: 'Rusillaserif', sans-serif;
    letter-spacing: 25px;
    text-align: center;
    font-size: 2.5em;
    margin: 0 15px;
}

.artists-section-title {
    font-family: 'Rusillaserif', sans-serif;
    letter-spacing: 25px;
    text-align: center;
    font-size: 2.5em;
}

.a-exposicao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
    padding: 150px 150px;
    font-family: 'Courier New', sans-serif;
}

.a-exposicao div:nth-child(1) {
    display: flex;
    gap: 15px;
}

.a-exposicao div img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.a-exposicao div:nth-child(2) {
    max-width: 45ch;
    font-size: 1.5em;
    font-weight: bold;
}

.a-exposicao div:nth-child(2) a {
    width: 100%;
    padding: 10px 15px;
    background-color: #00A859;
    border: 0;
    font-family: 'Rusillaserif', sans-serif;
    color: white;
    font-size: 1em;
    letter-spacing: 5px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
}

.sub-title {
    display: flex;
    align-items: center;
    margin-top: 150px;
    justify-content: space-around;
}

.sub-title a {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #A2D28E;
    border: 1px solid #d1c6c6;
    font-size: 1em;
    border-radius: 10px;
    padding: 15px 15px;
    font-weight: bold;
    font-family: 'Courier New';
    transition: background .2s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sub-title a:hover {
    background-color: white;
}

.sub-title i {
    border-radius: 10px;
}

.artists,
.obras {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 0 5dvw;
    gap: 30px;
}

.card-artist {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    padding: 35px 35px;
    width: 20%;
    min-height: 400px;
    box-shadow: 0px 4px 4px 0px rgb(192, 190, 190);
    opacity: 0;
    transform: translateY(50px);
    animation: enterFade 0.8s ease-out forwards;
}

.card-artist img {
    width: 200px;
    border-radius: 15px;
}

.card-artist p {
    font-family: 'Courier New', sans-serif;
}

.card-artist p:nth-child(2) {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.bi-arrow-left-short,
.bi-arrow-right-short {
    color: black;
    background-color: #FAF072;
    font-size: 3em;
    border-radius: 30px;
    cursor: pointer;
}

.artists-navigation button,
.works-navigation button {
    font-family: 'Courier New', sans-serif;
    padding: 20px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 15px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    background-color: #00A859;
    border: 0;
}

.artists-navigation button a,
.works-navigation button a {
    text-decoration: none;
}

.works-navigation button {
    margin-bottom: 100px;
}

.artists-navigation button a:visited,
.works-navigation button a:visited {
    color: white;
}

.old-works-info {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', sans-serif;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin: 100px 0;
}

.old-works-info p {
    text-align: center;
    max-width: 50ch;
}

.card-obra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 35px 85px;
    width: 80%;
    min-height: 400px;
    box-shadow: 0px 4px 4px 0px rgb(192, 190, 190);

    /* Para animação */
    opacity: 0;
    transform: translateY(50px);
    animation: enterFade 0.8s ease-out forwards;
}

.card-obra div {
    text-align: center;
    font-weight: bold;
}

.card-obra img {
    border-radius: 15px;
    width: 250px;
}

.imagem-container {
    position: relative;
    display: inline-block;
}

.imagem-obra {
    display: block;
}

.imagem-container {
    cursor: pointer;
}

.imagem-container::after {
    content: 'Clique para ampliar';
    opacity: 0;
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #FFFBD6;
    color: rgb(34, 32, 32);
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    pointer-events: none;
    font-family: 'Courier New', Courier, monospace;
    transition: opacity 0.3s ease;
    border: 1px solid rgb(168, 155, 155);
}

.imagem-container:hover::after {
    opacity: 1;
}

.card-obra .nome-obra {
    font-size: 1.9em;
    font-family: 'Rusillaserif';
}

.card-obra .nome-autor, .musica-escolhida {
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
}

.musica-escolhida {
    border: 1px solid black;
    padding: 5px;
}

.card-obra .descricao-obra {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid rgb(182, 171, 171);
    padding-bottom: 15px;
}

.informacoes-obra {
    text-align: left !important;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFFBD6;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 rgb(190, 185, 185);
}

.informacoes-obra b {
    -webkit-text-stroke-color: rgb(65, 62, 62);
    -webkit-text-stroke-width: 0.1px;
    font-size: 1.3em;
}

#open-work-modal .logo {
    max-width: 250px;
}

#open-work-modal .imagem-obra{
    max-width: 420px;
    min-width: 270px;
    width: 100%;
}

#open-work-modal {
    border: 2px solid #FFFBD6;
    border-radius: 15px;
    max-height: 80dvh;
    text-align: center;
}

#open-work-modal::backdrop {
    opacity: 0.5;
    background-color: #FFFBD6;
}

#open-work-modal div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-x-circle {
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 15px;
}

.bi-x-circle:hover {
    background-color: rgba(211, 199, 199, 0.281);
}

footer {
    text-align: center;
    margin-top: 170px;
}

footer .logo-projeto {
    max-width: 250px;
}

footer .logo-fpa {
    max-width: 150px;
}

footer p {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}

@media (max-width: 1318px) {
    .a-exposicao {
        padding: 150px 10px;
    }

    .a-exposicao div:nth-child(2) {
        text-align: center;
    }

    .a-exposicao div:nth-child(2) a {
        padding: 10px 0px;
    }

    .second-section-title {
        font-size: 2em;
        letter-spacing: 15px;
    }
}

@media (max-width: 839px) {
    .a-exposicao div:nth-child(2) a {
        font-size: 3.5vw;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-width: 1194px) {

    .artists,
    .obras {
        padding: 0 15px;
    }

    .card-artist {
        width: 80%;
    }

    .artists-navigation button,
    .works-navigation button {
        font-size: 1em;
    }

    .card-obra {
        flex-direction: column;
        height: initial;
        gap: 0;
        width: initial;
        padding: 35px 15px;
    }

    .card-obra .descricao-obra {
        font-size: 1em;
    }

    .sub-title {
        flex-direction: column-reverse
    }

    .sub-title .artists-section-title,
    .sub-title .obras-section-title {
        margin-bottom: 25px;
        margin-top: 0;
    }

    .first-section div img {
        width: 300px;
    }
}

@keyframes enterFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
